#map {
    opacity: 0.9;
}

.menu {
    position: absolute;
    left: 40%;
    top: 0%;
    z-index: 1;
}

.chart {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    left: 45%;
    bottom: 2%;
    z-index: 1;
    li {
        height: 10rem;
        width: 10rem;
        z-index: 0;
        height: 5rem;
        width: 5rem;
        margin-right: -2rem;
        /* background-color: blue;
        border: .1rem solid blue; */
        overflow: hidden;
        img {
            height: 100%;
            position: relative;
        }
        transform: perspective( 20rem ) rotateY( 50deg );
        box-shadow: inset -3rem 0rem 3rem -1rem rgba(0,0,0,0.5);
    }
    li:hover {
        z-index: 1;
        transition: .3s;
        transform: rotateY( 0deg ) scale(1.2);
        box-shadow: 0rem 0rem 1rem .25rem rgba(0,0,0,0.5);
    }
}