.map-tiles {
    filter:var(--map-tiles-filter, none);
}

#map {
    opacity: 0.9;
}

.menu {
    position: absolute;
    left: 40%;
    top: 0%;
    z-index: 1;
}

.newdialog {
    display: flexbox;
    justify-content: center;
    /* position: absolute; */
    padding: 1rem;
    top: 15%;
    /* min-height: 200px; */
    max-height: auto;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

.inputgroup > label {
    padding-left: -2rem;
}

.chart {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    left: 45%;
    bottom: 2%;
    z-index: 1;
}
.menuitem {
    height: 10rem;
    width: 10rem;
    z-index: 0;
    height: 5rem;
    width: 5rem;
    margin-right: -2rem;
    overflow: hidden;
    transform: perspective( 20rem ) rotateY( 50deg );
    box-shadow: inset -3rem 0rem 3rem -1rem rgba(0,0,0,0.5);
}
.menuitem > label {
    padding: .1rem;
    position: absolute;
    z-index: 2;
}
.menuitem > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.menuitem:hover {
    z-index: 1;
    margin: 0 .3rem 0 .3rem;
    transition: .3s;
    transform: rotateY( 0deg ) scale(1.2);
    box-shadow: 0rem 0rem 1rem .25rem rgba(0,0,0,0.5);
    box-shadow: 0px 1px 8px 2px rgba(54,166,48,1);
}