.container {
    overflow: auto;
    display: flex;
    min-height: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--space-lg);
    /* variants: {
        align: {
            column: {
                display: inline-block;
            }
            line: {
                display: flex;
                flexDirection: column;
                alignItems: center;
            }
            inputs: {
                height: 13.5rem;
            }
            response: {
                height: 5rem;
                color: $first;
            }
        }
    } */
}
.container .tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}