.inputGroup {
    /* width: 55rem; */
    padding: .3rem;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    border-radius: .5rem;
    transition: all 0.3s ease;
}

.inputGroup input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 1.8rem 3rem 0.7em 3rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: #fff;
    text-overflow: ellipsis ellipsis;
    text-align: center;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
    transition: all 0.3s ease;
}

.inputGroup input[type="number"] {
    appearance: textfield;
}

.inputGroup:focus-within {
    background-color: #222533;
    border-color: #00ff99;
}

.inputGroup input:hover {
    background-color: #222533;
}

.inputGroup i {
    padding: 1rem;
    border-radius: 50%;
    color: lightgray;
    transition: all 0.3s ease;
}

.inputGroup label {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    pointer-events: none;
    transition: all 0.3s ease;
    width: max-content;
    text-align: center;
}

.inputGroup input:focus-within+label,
.inputGroup input:not(:placeholder-shown)+label {
    top: 1rem;
    transform: translateX(-50%);
    font-size: 0.8em;
}

/* .inputGroup input[type="password"] {
    
} */

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1;
}

.toggle-password:hover {
    color: #ffffff;
}