dialog {
    height: 35rem;
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: .25rem solid #1C6EA4;
}

dialog div {
    padding: 1rem;
    background-color: blueviolet;
    border-radius: 1rem;
}

dialog {
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}