@import './../variables.scss';

.templatemenu {
    position: absolute;
    bottom: 2rem;
}

.chartmenu {
    width: 100vw;
    // background-image: linear-gradient($cinza, $preto, $preto);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    // pointer-events: none;
    .chartmenuitem {
        z-index: 0;
        height: 5rem;
        width: 5rem;
        margin-right: -2rem;
        background-color: $azul;
        border: .1rem solid $azul;
        overflow: hidden;
        img {
            height: 100%;
            position: relative;
        }
    }
    .name {
        color: $cinza;
        position: absolute;
        top: 0rem;
    }
    .left {
        transform: perspective( 20rem ) rotateY( 50deg );
        box-shadow: inset -3rem 0rem 3rem -1rem rgba(0,0,0,0.5);
        .name {
            left: 0rem;
        }
    }
    .center {
        z-index: 1;
        transition: .3s;
        transform: rotateY( 0deg ) scale(1.2);
        box-shadow: 0rem 0rem 1rem .25rem rgba(0,0,0,0.5);
    }
    .right {
        transform: perspective( 20rem ) rotateY( -50deg );
        box-shadow: inset 3rem 0rem 3rem -1rem rgba(0,0,0,0.5);
        .name {
            right: 0rem;
        }
    }
}